{% extends "admin/admin_base.html" %}

{% block title %}Deliveries{% endblock %}

{% block content %}
<h1>Deliveries</h1>

<h2>Deliveries List</h2>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>OrderID</th>
                <th>Assignee</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for delivery in deliveries %}
            <tr>
                <td>{{ delivery['order_id'] }}</td>
                <td>{{ delivery['delivery_boy'] }}</td>
                <td>{{ delivery['status'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
