<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Customer Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customerstyles.css') }}">

</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h3>Menu</h3>
            <ul>
                <li><a href="{{ url_for('customer_products') }}">Products</a></li>
                <li><a href="{{ url_for('carts') }}">Carts {{ cartcount }}</a></li>
                <li><a href="{{ url_for('customer_orders') }}">Orders {{ count }}</a></li>
                <li><a href="{{ url_for('customer_delivery') }}">Delivery Status</a></li>
                <li><a href="{{ url_for('customer_logout') }}">Logout</a></li>
            </ul>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
